{% extends 'school/base.html' %}

{% block content %}
<h2>Dashboard</h2>
<div class="row">
    {% for key, value in counts.items %}
    <div class="col-md-3">
        <div class="card text-white {% cycle 'bg-primary' 'bg-success' 'bg-warning' 'bg-info' 'bg-secondary' 'bg-dark' 'bg-primary' 'bg-success' %} mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ key|title }}</h5>
                <p class="card-text">{{ value }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
