{% extends 'school/base.html' %}

{% block content %}
<h2>Syllabus</h2>
<a href="{% url 'syllabus_create' %}" class="btn btn-primary mb-3">Upload Syllabus</a>
<ul class="list-group">
    {% for syllabus in syllabi %}
    <li class="list-group-item">
        <h5>{{ syllabus.subject.name }}</h5>
        <a href="{{ syllabus.file.url }}" class="btn btn-link" download>Download</a>
        <small>{{ syllabus.uploaded_at }}</small>
    </li>
    {% empty %}
    <li class="list-group-item">No syllabus uploaded.</li>
    {% endfor %}
</ul>
{% endblock %}
